﻿<div class="text-center">
    <div class="text-danger">
        <h4>Access Denied</h4>
        <h5>You do not have permission to access this page</h5>
    </div>
    <img style="width:200px; height:200px" src="~/images/access-denied.png" />
</div>