﻿@model Web.ViewModels.ProjectManagment.Project.ProjectCreateViewModel

@{
    ViewBag.Title = "Create New Project";
}

<h3>Create new project</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Project" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Menagers"></label>
                    <select asp-for="ManagerId" class="form-control" asp-items="@Model.Menagers">
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="Menagers" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
                <a asp-controller="Project" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>