﻿@model Web.ViewModels.ProjectManagment.Project.ProjectDeleteViewModel

@{
    ViewBag.Title = "Delete";
}

<h3>Delete. Are you sure?</h3>

@if (Model.UnfinishedTasks == 1)
{
    <h4>Project has <span class="text-danger">@Model.UnfinishedTasks</span> unfinished task.</h4>
}
else if (Model.UnfinishedTasks > 1)
{
    <h4>Project has <span class="text-danger">@Model.UnfinishedTasks</span> unfinished tasks.</h4>
}

<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="@Model.Name"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Code"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Code
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.ProjectManagerName"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.ProjectManagerName
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Progress"></label> (%)
    </dt>
    <dd class="col-sm-10">
        @Model.Progress
    </dd>
</dl>
<form asp-controller="Project" asp-action="Delete" method="post">
    <input type="submit" value="Delete" class="btn btn-danger">
    <a asp-controller="Project" asp-action="Index">Cancel</a>
</form>