﻿@model Web.ViewModels.ProjectManagment.Project.ProjectDetailsViewModel

@{
    ViewBag.Title = "Details";
    string newTasks = "new";
    string inProgressTasks = "inProgress";
    string completedTasks = "finished";
}

<h3>Details</h3>

<div class="mt-3 mb-3">
    <a asp-controller="Task" asp-action="Create" asp-route-projectId="@Model.Id">Add new task</a>
</div>

<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="@Model.Name"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Code"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Code
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.ProjectManager"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.ProjectManager.FullName
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Progress"></label> (%)
    </dt>
    <dd class="col-sm-10">
        @Model.Progress
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Tasks"></label>
    </dt>
    <dd class="col-sm-10">
        <span class="mr-3">
            <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.Id" asp-route-filterTasks="@newTasks">New</a>
        </span>                
        <span class="m-3">     
            <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.Id" asp-route-filterTasks="@inProgressTasks">In progress</a>
        </span>                
        <span class="m-3">     
            <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.Id" asp-route-filterTasks="@completedTasks">Completed</a>
        </span>
    </dd>
</dl>


<div>
    @if (Model.FilterTasks != null && Model.Tasks.Count != 0)
    {
    <div class="card-deck">
        @foreach (var task in Model.Tasks)
        {
        <div class="card mt-1 " style="max-width:15rem; min-width:200px">
            <div class="card-header py-0 m-0 ">
                <h6 class="font-weight-bold text-primary mt-1">
                    @task.Name
                </h6>
            </div>
            <div class="card-body py-0" style="background-color:whitesmoke">
                <dl class="">
                    <dt class="mt-1">
                        <span>Deadline: </span>
                    </dt>
                    <dd class="">
                        @task.Deadline.Date.Day - @task.Deadline.Date.Month - @task.Deadline.Date.Year
                    </dd>
                    <dt class="">
                        <span>Progress (%): </span>
                    </dt>
                    <dd class="">
                        @task.Progress
                    </dd>
                    <dt class="">
                        <span class="m-2">
                            <a asp-controller="Task" asp-action="Details" asp-route-id="@task.Id"
                               asp-route-projectId="@Model.Id">Details</a>
                        </span>
                        @if (task.Progress != 100)
                        {
                            <span class="m-2">
                                <a asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id"
                                   asp-route-projectId="@Model.Id">Edit</a>
                            </span>
                        }
                        <span class="m-2">
                            <a asp-controller="Task" asp-action="Delete" asp-route-id="@task.Id"
                               asp-route-projectId="@Model.Id">Delete</a>
                        </span>
                    </dt>
                </dl>
            </div>
        </div>
        }
    </div>
    }
    else if (Model.FilterTasks != null)
    {
        <h4>Nothing here</h4>
    }
    else
    {
        <h4>Choose task category</h4>
    }
</div>


<div class="modal-footer">
    <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.Id">Edit project</a> |
    <a asp-controller="Project" asp-action="Index">Back to list</a>
</div>