﻿@model IEnumerable<ApplicationCore.Entities.Project>

@{
    ViewBag.Title = "Projects";
}

<h3>Projects</h3>

<div class="mt-3">
    <a asp-controller="Project" asp-action="Create">Create new project</a>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Code
            </th>
            <th>
                Project manager
            </th>
            <th>
                Progress (%)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var project in Model)
        {
            <tr>
                <td>
                    @project.Name
                </td>
                <td>
                    @project.Code
                </td>
                <td>
                    @project.ProjectManager.FullName
                </td>
                <td>
                    @project.Progress
                </td>
                <td>
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@project.Id">Details</a> |
                    <a asp-controller="Project" asp-action="Edit" asp-route-id="@project.Id">Edit</a> |
                    <a asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>