﻿@{
    ViewData["Title"] = "Home Page";
}

<h3 class=" text-center" style="font-size:40px">Welcome</h3>
<div class="text-left">
    <p>
        <h5>Requirements:</h5>
        <h6 class="text-wrap">
            • Projects are used to organize tasks into logical units. Required attributes are: project name and project code (unique).
        </h6>
        <h6 class="text-wrap">
            • Tasks are used as a child of Project. One Task can belong to one Project, and one project can have many tasks. Required attributes for tasks are: assignee (user to whom this tickets is assigned to), status (new, in progress, finished), progress (% of completed), deadline, description.
        </h6>
        <h6 class="text-wrap">
            • Users – required attributes: username (unique), email, name and surname and role.
        </h6>
        <h6 class="text-wrap">
            • Roles – required roles: Administrator, Project Manager or Developer
        </h6>
        <h6 class="text-wrap">
            • A system for tracking Tasks and User assignments is administered by the Administrator, who is allowed to do any of the scenarios defined below.
        </h6>
        <br />
        <h5>Scenarios:</h5>
        <h6 class="text-wrap">
            •	All Users use the same login form.
        </h6>
        <h6 class="text-wrap">
            •	Administrator can view, create, modify and delete Projects, Tasks and Users.
        </h6>
        <h6 class="text-wrap">
            •	If Administrator is creating Project, he must select Project Manager to manage the project. Project managers are Users with Role Project Manager.
        </h6>
        <h6 class="text-wrap">
            •	Administrator can assign / unassign a Task to a User.
        </h6>
        <h6 class="text-wrap">
            •	Project Managers can create Projects, Tasks and assign Tasks to the Developers.
        </h6>
        <h6 class="text-wrap">
            •	Developers cannot have more than 3 tasks assigned
        </h6>
        <h6 class="text-wrap">
            •	User can modify Task only if it is assigned to him / her.
        </h6>
        <h6 class="text-wrap">
            •	User with Developer role is allowed to change: status, progress, description
        </h6>
        <h6 class="text-wrap">
            •	User with Project Manager role is allowed to change: assignee, status, progress, deadline, description.
        </h6>
        <h6 class="text-wrap">
            •	User can view only tasks that are assigned to him / her OR are not assigned to anyone.
        </h6>
        <h6 class="text-wrap">
            •	Project manager can view a list of projects and their progress. Project progress is based on progress of all project tasks. (e.g. project with three tasks with progress 0%, 50% and 100% has progress 50%)
        </h6>
    </p>
</div>
