﻿@inject SignInManager<IdentityUser> signInManager
@inject RoleManager<IdentityRole> roleManager
@inject UserManager<IdentityUser> userManager
@inject ApplicationCore.Interfaces.IProjectManagerRepository projectManagerRepository
@inject ApplicationCore.Interfaces.IDeveloperRepository developerRepository

@{
    if (signInManager.IsSignedIn(User))
    {
        if (User.IsInRole("Admin"))
        {
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Project" asp-action="Index">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Developer" asp-action="Index">Developers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="ProjectManager" asp-action="Index">Managers</a>
                    </li>
                </ul>
            </div>
            <div>
                <form asp-controller="User" asp-action="Logout" class="nav navbar-nav ml-auto" method="post">
                    <input type="submit" value="Logout @User.Identity.Name" class="nav-link btn text-dark" />
                </form>
            </div>
        }
        else if (User.IsInRole("Pm"))
        {
            
            string userId = userManager.GetUserId(User);
            int managerId = (await projectManagerRepository.GetAsync(pm => pm.IdentityUserId == userId)).FirstOrDefault().Id;
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Privacy">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Project" asp-action="Index">Projects</a>
                    </li>
                </ul>
            </div>
            <div>
                <form asp-controller="User" asp-action="Logout" class="nav navbar-nav ml-auto" method="post">
                    <a asp-controller="ProjectManager" asp-action="Edit" asp-route-id="@managerId"
                       class="m-auto nav-link text-dark">Edit Profile</a>
                    <input type="submit" value="Logout @User.Identity.Name" class="nav-link btn text-dark" />
                </form>
            </div>
        }
        else if (User.IsInRole("Dev"))
        {
            string userId = userManager.GetUserId(User);
            int developerId = (await developerRepository.GetAsync(d => d.IdentityUserId == userId)).FirstOrDefault().Id;
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="Developer" asp-action="Tasks" 
                           asp-route-id="@developerId">Tasks</a>
                    </li>
                </ul>
            </div>
            <div>
                <form asp-controller="User" asp-action="Logout" class="nav navbar-nav ml-auto" method="post">
                    <a asp-controller="Developer" asp-action="Edit" asp-route-id="@developerId"
                       class="m-auto nav-link text-dark">Edit Profile</a>
                    <input type="submit" value="Logout @User.Identity.Name" class="nav-link btn text-dark" />
                </form>
            </div>
        }
    }
}