﻿@{
    ViewBag.Title = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <h3>Something went wrong when processing your request.</h3>
    <a asp-controller="Home" asp-action="Index">Click here to go to the home page</a>
}
else
{
    <h3 class="text-danger">@ViewBag.ErrorTitle </h3>
    <h4 class="text-danger">@ViewBag.ErrorMessage</h4>

    <a asp-controller="Home" asp-action="Index">Click here to go to the home page</a>
}



