﻿@model Web.ViewModels.User.ProjectManager.ProjectManagerDeleteViewModel

@{
    ViewBag.Title = "Delete project manager";
}

<h3>Delete project manager</h3>

@if (Model.Projects.Count != 0)
{
    <h4>@Model.Name manages these projects:</h4>
    foreach (var project in Model.Projects)
    {
        <h5>@project.Name</h5>
    }
    <br />
    <h4>Please reassign projects to another manager and then try again</h4>

    <a asp-controller="ProjectManager" asp-action="Index">Back</a>
}
else
{
    <h4>@Model.Name</h4>
    <h4>Are you sure?</h4>
    <br />
    <form asp-controller="ProjectManager" asp-action="Delete">
        <input asp-for="Id" hidden />
        <input asp-for="IdentityUserId" hidden />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-controller="ProjectManager" asp-action="Index">Cancel</a>
    </form>
}