﻿@model Web.ViewModels.User.ProjectManager.ProjectManagerDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>


<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="@Model.FullName"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.FullName
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Username"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Username
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Email"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Email
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.NumberOfProjects"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.NumberOfProjects
    </dd>
</dl>

<div class="modal-footer">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="ProjectManager" asp-action="Index">Back to list</a>
    }
    else if (User.IsInRole("Pm"))
    {
        <a asp-controller="Project" asp-action="Index">Back</a>
    }
</div>