﻿@model IEnumerable<ApplicationCore.Entities.ProjectManager>

@{
    ViewBag.Title = "Project managers";
}

<h3>Project managers</h3>

<div class="mt-3">
     <a asp-controller="ProjectManager" asp-action="Create">Create new project manager</a>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                No. of projects
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pm in Model)
        {
            <tr>
                <td>
                     <span>@pm.FullName</span>
                </td>
                <td>
                    @if (pm.Projects != null)
                    {
                        <span>@pm.Projects.Count</span>
                    }
                    else
                    {
                        <span>0</span>
                    }
                </td>
                <td>
                    <a asp-controller="ProjectManager" asp-action="Details" asp-route-id="@pm.Id">Details</a> |
                    <a asp-controller="ProjectManager" asp-action="Edit" asp-route-id="@pm.Id">Edit</a> |
                    <a asp-controller="ProjectManager" asp-action="Delete" asp-route-id="@pm.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>