﻿@model Web.ViewModels.User.Developer.DeveloperDeleteViewModel

@{
    ViewBag.Title = "Delete developer";
}

<h3>Delete developer</h3>


<h4>@Model.FullName</h4>
@if (Model.HasProjects)
{
    <h4 class="text-danger">Developer has assigned tasks!</h4>
}
<h4>Are you sure?</h4>
<br />
<form asp-controller="Developer" asp-action="Delete">
    <input asp-for="Id" hidden />
    <input asp-for="IdentityUserId" hidden />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-controller="Developer" asp-action="Index">Cancel</a>
</form>
