﻿@model Web.ViewModels.User.Developer.DeveloperDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>


<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="@Model.FullName"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.FullName
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Username"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Username
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Email"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Email
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.NumberOfTasks"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.NumberOfTasks
    </dd>
</dl>

<div class="modal-footer">
    @if (User.IsInRole("Admin"))
    {
        <a asp-controller="Developer" asp-action="Index">Back to list</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index">Back to home page</a>
    }
</div>