﻿@model Web.ViewModels.User.Developer.DeveloperEditViewModel

@{
    ViewBag.Title = "Edit developer";
}

<h3>Edit developer</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Developer" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Id" hidden />
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="UserName"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
            @if (User.IsInRole("Dev"))
            {
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="ConfirmPassword"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a asp-controller="Home" asp-action="Index">Cancel</a>
                </div>
            }
            else if (User.IsInRole("Admin"))
            {
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a asp-controller="Developer" asp-action="Index">Cancel</a>
                </div>
            }
        </form>
    </div>
</div>
