﻿@model IEnumerable<ApplicationCore.Entities.Developer>

@{
    ViewBag.Title = "Developers";
}

    <h3>Developers</h3>

<div class="mt-3">
    <a asp-controller="Developer" asp-action="Create">Create new developer</a>
</div>

<table class="table mt-3">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                No. of tasks
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var developer in Model)
        {
            <tr>
                <td>
                    <span>@developer.FullName</span>
                </td>
                <td>
                    <span>@developer.TaskCount</span>
                </td>
                <td>
                    <a asp-controller="Developer" asp-action="Details" asp-route-id="@developer.Id">Details</a> |
                    <a asp-controller="Developer" asp-action="Edit" asp-route-id="@developer.Id">Edit</a> |
                    <a asp-controller="Developer" asp-action="Delete" asp-route-id="@developer.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>