﻿@model Web.ViewModels.User.Developer.DeveloperTasksViewModel

@{
    ViewBag.Title = "Tasks";
}

<h3>Tasks</h3>
<br />
<h4>My tasks:</h4>
@if (Model.DeveloperTasks.Count != 0)
{
    <div class="card-deck">
        @foreach (var task in Model.DeveloperTasks)
        {
            <div class="card " style="max-width:15rem; min-width:200px">
                <div class="card-header py-0 m-0 ">
                    <h6 class="font-weight-bold text-primary mt-1">
                        @task.Name
                    </h6>
                </div>
                <div class="card-body py-0" style="background-color:whitesmoke">
                    <dl class="">
                        <dt class="mt-1">
                            <span>Deadline: </span>
                        </dt>
                        <dd class="">
                            @task.Deadline.Date.Day - @task.Deadline.Date.Month - @task.Deadline.Date.Year
                        </dd>
                        <dt class="">
                            <span>Progress (%): </span>
                        </dt>
                        <dd class="">
                            @task.Progress
                        </dd>
                        <dt class="">
                            <span class="m-2">
                                <a asp-controller="Task" asp-action="Details" asp-route-id="@task.Id"
                                   asp-route-projectId="@task.ProjectId">Details</a>
                            </span>
                            <span class="m-2">
                                <a asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id"
                                   asp-route-projectId="@task.ProjectId">Edit</a>
                            </span>
                        </dt>
                    </dl>
                </div>
            </div>
        }
    </div>
}
else
{
    <span>No tasks assigned</span>
    <br />
}

<br />
<h4>Unassigned tasks:</h4>
@if (Model.UnassignedTasks.Count != 0)
{
    <div class="card-deck">
        @foreach (var task in Model.UnassignedTasks)
        {
            <div class="card mt-1 " style="max-width:15rem; min-width:200px">
                <div class="card-header py-0 m-0 ">
                    <h6 class="font-weight-bold text-primary mt-1">
                        @task.Name
                    </h6>
                </div>
                <div class="card-body py-0" style="background-color:whitesmoke">
                    <dl class="">
                        <dt class="">
                            <span>Project: </span>
                        </dt>
                        <dd class="">
                            @task.Project.Name
                        </dd>
                        <dt class="mt-1">
                            <span>Deadline: </span>
                        </dt>
                        <dd class="">
                            @task.Deadline.Date.Day - @task.Deadline.Date.Month - @task.Deadline.Date.Year
                        </dd>
                    </dl>
                </div>
            </div>
        }
    </div>
}
else
{
    <h5>Nothing here</h5>
}