﻿@model Web.ViewModels.ProjectManagment.Task.TaskCreateViewModel

@{
    ViewBag.Title = "Create new task";
}

<h3>Create new task</h3>

<div class="row">
    <div class="col-md-12">
        <form asp-controller="Task" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ProjectId" hidden/>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Description"></label>
                    <textarea rows="7" style="resize:none" asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Deadline"></label>
                    <input asp-for="Deadline"  class="form-control" />
                    <span asp-validation-for="Deadline" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-5">
                    <label asp-for="Developers"></label>
                    <select asp-for="DeveloperId" class="form-control" asp-items="@Model.Developers">
                        <option value="">-- Select --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary">
                <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.ProjectId">Cancel</a>
            </div>
        </form>
    </div>
</div>