﻿@model Web.ViewModels.ProjectManagment.Task.TaskDeleteViewModel

@{ 
    ViewBag.Title = "Delete task";
}

<h3>Delete task. Are you sure?</h3>

@if (Model.Status != ApplicationCore.ProjectTaskStatus.Finished)
{
    <h4>Task is not finished.</h4>
}

<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="@Model.Name"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Description"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Description
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Status"></label>
    </dt>
    <dd class="col-sm-10">
        @if (Model.Status == ApplicationCore.ProjectTaskStatus.InProgress)
        {
            <span>In progress</span>
        }
        else
        {
            <span>@Model.Status</span>
        }
    </dd>
</dl>

<form asp-controller="Task" asp-action="Delete">
    <input asp-for="ProjectId" hidden/>
    <input asp-for="DeveloperId" hidden/>
    <input type="submit" value="Delete" class="btn btn-danger">
    <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.ProjectId">Cancel</a>
</form>