﻿@model Web.ViewModels.ProjectManagment.Task.TaskDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h3>Details</h3>


<dl class="row">
    <dt class="col-sm-2">
        <label asp-for="@Model.Name"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Name
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Description"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Description
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Deadline"></label>
    </dt>
    <dd class="col-sm-10">
        @Model.Deadline.Day - @Model.Deadline.Month - @Model.Deadline.Year
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Progress"></label> (%)
    </dt>
    <dd class="col-sm-10">
        @Model.Progress
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.Status"></label>
    </dt>
    <dd class="col-sm-10">
        @if (Model.Status == ApplicationCore.ProjectTaskStatus.InProgress)
        {
            <span>In progress</span>
        }
        else
        {
            <span>@Model.Status </span>
        }
    </dd>
    <dt class="col-sm-2">
        <label asp-for="@Model.DeveloperName"></label>
    </dt>
    <dd class="col-sm-10">
        @if (Model.DeveloperName != null)
        {
            <h6>@Model.DeveloperName</h6>
        }
        else
        {
            <h6>No developer assigned</h6>
        }
    </dd>
</dl>

<div class="modal-footer">
    @if (User.IsInRole("Dev"))
    {
        <a asp-controller="Developer" asp-action="Tasks" asp-route-id="@Model.DeveloperId">Back</a>
    }
    else
    {
        <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.ProjectId">Back to project</a>
    }
</div>