﻿@model Web.ViewModels.ProjectManagment.Task.TaskEditViewModel

@{
    ViewBag.Title = "Edit task";
}

<h3>Edit task</h3>

@if (User.IsInRole("Dev"))
{
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Task" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" hidden />
                <input asp-for="ProjectId" hidden />
                <input asp-for="Name" hidden />
                <input asp-for="Deadline" hidden />
                <input asp-for="DeveloperId" hidden />
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Description"></label>
                        <textarea rows="7" style="resize:none" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Progress"></label>
                        <div class="custom-radio">
                            <input type="radio" value="0" asp-for="Progress" class="mr-2" />0 |
                            <input type="radio" value="20" asp-for="Progress" class="mr-2" />20 |
                            <input type="radio" value="40" asp-for="Progress" class="mr-2" />40 |
                            <input type="radio" value="60" asp-for="Progress" class="mr-2" />60 |
                            <input type="radio" value="80" asp-for="Progress" class="mr-2" />80 |
                            <input type="radio" value="100" asp-for="Progress" class="mr-2" />100
                        </div>
                        <span asp-validation-for="Progress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a asp-controller="Developer" asp-action="Tasks" asp-route-id="@Model.DeveloperId">Cancel</a>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <form asp-controller="Task" asp-action="Edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" hidden />
                <input asp-for="ProjectId" hidden />
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Description"></label>
                        <textarea rows="7" style="resize:none" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Deadline"></label>
                        <input asp-for="Deadline" class="form-control" />
                        <span asp-validation-for="Deadline" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Progress"></label>
                        <div class="custom-radio">
                            <input type="radio" value="0" asp-for="Progress" class="mr-2" />0 |
                            <input type="radio" value="20" asp-for="Progress" class="mr-2" />20 |
                            <input type="radio" value="40" asp-for="Progress" class="mr-2" />40 |
                            <input type="radio" value="60" asp-for="Progress" class="mr-2" />60 |
                            <input type="radio" value="80" asp-for="Progress" class="mr-2" />80 |
                            <input type="radio" value="100" asp-for="Progress" class="mr-2" />100
                        </div>
                        <span asp-validation-for="Progress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5">
                        <label asp-for="Developers"></label>
                        <select asp-for="DeveloperId" class="form-control" asp-items="@Model.Developers">
                            <option value="">-- Select --</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary">
                    <a asp-controller="Project" asp-action="Details" asp-route-id="@Model.ProjectId">Cancel</a>
                </div>
            </form>
        </div>
    </div>
}